/config/app.php
/tmp
/logs
/.idea
/node_modules
/npm-debug.log
/backup
/tests
/webroot/dev
/webroot/dist
.docker/mysql
vendor
deploy.conf

# dont check in .mo files. cake throws an error if you do provide them!
*.mo
