/config/app.php
/config/Migrations/schema-dump-default.lock
/tmp
/logs
/.idea
/node_modules
/npm-debug.log
/backup
/webroot/dev
/webroot/dist
.docker/mysql
vendor
deploy.conf
import-live-data.sh
report_errors.sh
.phpunit.result.cache

# dont check in .mo files. cake throws an error if you do provide them!
*.mo
