/*
    Created on : 18.01.2017, 18:05:06
    Author     : cyrillbolliger
*/

/* ------ general ------ */
.scroll-box {
    overflow: scroll;
}

.inline-warning {
    background: #be140b;
    color: #fff;
    font-weight: bold;
    display: block;
    width: 100%;
    padding: 25px;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

/* ------ top-nav ------ */
ul.top-nav {
    float: left;
    font-size: 1em;
}

ul.top-nav li {
    float: left;
}

ul.top-nav li a {
    display: block;
    line-height: 2.8125rem;
    padding: 0 0.9375rem;
    color: #ffffff;
    height: 100%;
}

ul.top-nav li a:hover {
    background: #308e97;
}

ul.meta-nav li > a {
    color: #B7E3EC;
}

/* ------ fields ------ */
input[type="text"].datepicker {
    width: 272px;
}

.select2, .select2-results li {
    font-size: 0.875rem;
}

.select2-container {
    margin-bottom: 1rem;
}

input[type="text"].brain-prefilled,
select.brain-prefilled,
select.brain-prefilled + span span.select2-selection {
    background-color: #B7E3EC;
}

.brain_prefilled_msg {
    font-size: 0.8em;
    color: #bbb;
    padding-left: 1em;
}

/* ------ table ------ */
input.filter {
    background-color: #F2FCFF;
}

input.filter:focus {
    background-color: #E5FBFF;
}

div.searching {
    color: #bbb;
}

table,
.index table,
.related table {
    table-layout: auto;
}

table .id {
    opacity: 0.5;
}

table thead tr th,
table thead tr td,
.related table tr th {
    font-size: 0.8em;
    color: #666;
}

table td {
    word-break: normal;
}

table .actions {
    width: 7em;
}

.index_inline_list ul {
    margin: 0;
    list-style: none;
    font-size: 1em;
}

/* --------- pagination --------- */
.paginator p {
    text-align: center;
    font-size: 0.875rem;
}

/* -------- sortable -------- */
.sortable_element {
    margin: 0;
}

.sortable_element:hover {
    background-color: #fafafa;
    transition: background-color 0.2s;
}

.sortable_handle:hover {
    color: #1798A5;
    cursor: ns-resize;
}

/* -------- buttons -------- */
.single-icon {
    width: 1em;
    vertical-align: middle;
    text-align: center;
}

.delete_button {
    padding: 0.5em;
    width: 2em;
}

.delete_button:hover {
    color: #1798A5;
    cursor: pointer;
}

.button {
    background: #966600;
}

.print-button,
.export-button {
    float: right;
}

.view-icon,
.edit-icon,
.delete-icon,
.print-icon {
    padding: 0.25rem 0.25rem 0;
    line-height: 1rem;
    width: 1.4rem;
    transition: 0.1s;
}

.view-icon:hover,
.edit-icon:hover,
.delete-icon:hover,
.print-icon:hover {
    padding: 0 0;
    font-size: 1.4rem;
    color: #0078a0;
    line-height: 1rem;
}

.action-icon-link {
    height: 1.5em;
    display: inline-block;
}

/* --------- Legends ------- */
.sub-legend-h2, .sub-legend-h3 {
    width: auto;
}

.sub-legend-h3 {
    border-bottom-width: 1px;
    font-weight: normal;
}

/* --------- Marks --------- */
.mark_form_fields_adder {
    margin-top: 1em;
}

.marks .index_inline_list {
    width: 40%;
}

.mark_plot {
    min-width: 90px;
    padding: 0;
    border-left: solid 1px #ebebec;
    border-right: solid 1px #ebebec;
    position:relative;
}

.mark_plot-line {
    position: absolute;
    top: 0;
}

.mark_plot-extremes {
    height: 50%;
    border-bottom: solid 1px #be140b;
}

.mark_plot-median {
    height: 100%;
    border-right: solid 1px #222;
}

.mark_stats {
    margin:0;
}

.mark_stats td{
    padding: 0;
    font-size: 0.8em;
}

.mark_stats tr:last-of-type {
    border-bottom: none;
}

.mark_value {
    padding: 0.25em 0.5em;
    cursor: default;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
    display: inline-block;
}

.mark_value:hover {
    color: #be140b;
    background: #e6e6e6;
    border-radius: 3px;
}

.mark_value_tooltip {
    width: 300px;
    min-height: 400px;
    background: #fafafa;
}

.mark_value_tooltip h3 {
    font-size: 1em;
    color: #be140b;
    border-bottom: 2px solid #be140b;
}

.mark_value_tooltip table {
    background: transparent;
}

.mark_value_tooltip table tr td,
.mark_value_tooltip table tr th {
    font-size: 0.8em;
    padding: 0.28125em 0.4125em;
}

.mark_value_tooltip .inline-note {
    text-align: left;
}

.mark_value_tooltip .inline-note .inline-note-title {
    color: #1798A5;
    font-weight: bold;
}

.mark_value_tooltip .inline-note p {
    font-size: 0.8rem;
    margin: 0;
}

.mark_results_table thead tr {
    border-bottom: none;
}

.mark_col {
    border-left: solid 1px #ebebec;
    border-right: solid 1px #ebebec;
}

.mark_col_header {
    border-bottom: none;
    padding-bottom: 0;
}

.mark_col_subheader {
    padding-top: 0;
    border-bottom: 2px solid #1798A5;
    font-weight: normal;
}

/* --------- Side nav ------- */
.side-nav li.editable-nav-item a {
    display: inline-block;
}

.side-nav li.heading {
    line-height: 1.5rem;
    padding: 2rem 0.875rem 0;
}

.side-nav li a.nav-action-icon {
    padding: 0;
    display: none;
    color: rgba(21, 132, 143, 0.5);
}

.side-nav li a.nav-action-icon:focus,
.side-nav li a.nav-action-icon:hover {
    background-color: transparent;
}

.side-nav li:hover a.nav-action-icon {
    display: inline-block;
}

.side-nav li a.nav-title-link {
    padding: 0;
    color: #1798A5;
}

.side-nav li a.add-nav-item {
    font-style: italic;
    color: rgba(21, 132, 143, 0.5)
}

/* -------- Queries -------- */
.field-selector-container {
    display: none;
    margin: -0.75rem 0 1rem 2rem;
}

input[type="checkbox"].field-selector {
    margin-bottom:0.25rem;
}

.disabled-checkbox {
    text-decoration: line-through;
    color: #aaa;
}

.breeding-object-aggregation-mode-selector {
    display: none;
}

.MarksView-field-selector-container div.input.select {
    display: inline-block;
}

.mark-property-mode {
    width: auto;
    margin-bottom: 0;
}

.mark-property-filter-selector {
    display: none;
    margin-bottom: 1rem;
}

.mark-property-filter-selector input {
    width: 272px;
    display: inline-block;
    margin-bottom: 0;
}

.mark-property-filter-selector input[type="radio"] {
    width: auto;
}

.mark-property-filter-selector label {
    display: inline-block;
    margin: 0 1rem;
}

.mark-property {
    font-size: 0.875rem;
}

.mark-property .select2-container {
    margin-bottom: 0;
}

.mark-property input[type="checkbox"]+label {
    margin-left: 0;
}

.query_builder_validation_error {
    background-color: #FDD;
    color: red;
    padding: 10px 10px;
    border-radius: 5px;
    border: solid 1px #F99;
    display: none;
}

.query_builder_validation_error .query_builder_validation_error_sign {
    font-size: 1.5em;
    margin: 0 0.75em 0 0.25em;
}

.query_builder_validation_error ul {
    margin-bottom: 0;
}

/* --------- Query Where -------- */
.query-builder input[type="text"],
.query-builder input[type="password"],
.query-builder input[type="date"],
.query-builder input[type="datetime"],
.query-builder input[type="datetime-local"],
.query-builder input[type="month"],
.query-builder input[type="week"],
.query-builder input[type="email"],
.query-builder input[type="number"],
.query-builder input[type="search"],
.query-builder input[type="tel"],
.query-builder input[type="time"],
.query-builder input[type="url"],
.query-builder input[type="color"],
.query-builder textarea {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.query-builder .rule-value-container input[type=number],
.query-builder .rule-value-container input[type=text],
.query-builder .rule-value-container select {
    height: 1.75rem;
    padding: 0 0.5rem;
}

.rule-value-container input[type="text"].form-control.datepicker {
    width: auto;
}

.query-builder select {
    width: initial;
    -webkit-appearance: menulist !important;
    -moz-appearance: menulist !important;
    background: none;
}

.query-builder, .query-builder * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.query-builder {
    font-family: sans-serif;
}

.query-builder .hide {
    display: none;
}

.query-builder .pull-right {
    float: right !important;
}

.query-builder .btn {
    text-transform: none;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.query-builder .btn.focus, .query-builder .btn:focus, .query-builder .btn:hover {
    color: #333;
    text-decoration: none;
}

.query-builder .btn.active, .query-builder .btn:active {
    background-image: none;
    outline: 0px none;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset;
}

.query-builder .btn-success {
    color: #FFF;
    background-color: #5CB85C;
    border-color: #4CAE4C;
}

.query-builder .btn-primary {
    color: #FFF;
    background-color: #337AB7;
    border-color: #2E6DA4;
}

.query-builder .btn-danger {
    color: #FFF;
    background-color: #D9534F;
    border-color: #D43F3A;
}

.query-builder .btn-success.active, .query-builder .btn-success.focus,
.query-builder .btn-success:active, .query-builder .btn-success:focus,
.query-builder .btn-success:hover {
    color: #FFF;
    background-color: #449D44;
    border-color: #398439;
}

.query-builder .btn-primary.active, .query-builder .btn-primary.focus,
.query-builder .btn-primary:active, .query-builder .btn-primary:focus,
.query-builder .btn-primary:hover {
    color: #FFF;
    background-color: #286090;
    border-color: #204D74;
}

.query-builder .btn-danger.active, .query-builder .btn-danger.focus,
.query-builder .btn-danger:active, .query-builder .btn-danger:focus,
.query-builder .btn-danger:hover {
    color: #FFF;
    background-color: #C9302C;
    border-color: #AC2925;
}

.query-builder .btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.query-builder .btn-group > .btn {
    position: relative;
    float: left;
}

.query-builder .btn-group > .btn:first-child {
    margin-left: 0px;
}

.query-builder .btn-group > .btn:first-child:not(:last-child) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.query-builder .btn-group > .btn:last-child:not(:first-child) {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.query-builder .btn-group .btn + .btn, .query-builder .btn-group .btn + .btn-group,
.query-builder .btn-group .btn-group + .btn, .query-builder .btn-group .btn-group + .btn-group {
    margin-left: -1px;
}

.query-builder .btn-xs, .query-builder .btn-group-xs > .btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
